name: Release

on:
  push:
    branches:
      - release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Release:
    name: 'Release'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: "Build Changelog"
        id: build_changelog
        uses: ardalanamini/auto-changelog@v3
        with:
          github-token: ${{ github.token }}
          commit-types: |
            breaking: Breaking Changes
            feat: New Features
            fix: Bug Fixes
            revert: Reverts
            perf: Performance Improvements
            refactor: Refactors
            deps: Dependencies
            docs: Documentation Changes
            style: Code Style Changes
            build: Build System
            ci: Continuous Integration
            test: Tests
            chore: Chores
            other: Other Changes
          default-commit-type: Other Changes
          mention-authors: true
          mention-new-contributors: true
          include-compare: true
          semver: false
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Change Log
          tag_name: latest
          token: ${{ github.token }}
          body: ${{steps.build_changelog.outputs.changelog}}
          append_body: false