name: Release

on:
  push:
    branches:
      - release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Release:
    name: 'Release'
    runs-on: ubuntu-latest
    # permissions:
    #   contents: write
    steps:
      - name: "Build Changelog"
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v3.7.1
        with:
          configurationJson: |
              {
                "template": "#{{CHANGELOG}}\n\n<details>\n<summary>Uncategorized</summary>\n\n#{{UNCATEGORIZED}}\n</details>"
              }
          commitMode: true
          fromTag: latest
          toTag: HEAD
          token: ${{ github.token }}
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Change Log
          tag_name: latest
          token: ${{ github.token }}
          body: ${{steps.build_changelog.outputs.changelog}}
          append_body: false